<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        stopOnFailure="true"
        backupGlobals="false"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
>
    <testsuites>
        <testsuite name="src">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>

</phpunit>
